VITE_CONTACT_EMAIL=hello@omegamediacommunications.com
VITE_PHONE_DISPLAY=+234 XXX XXX XXXX
VITE_WHATSAPP_NUMBER=2340000000000
VITE_FORMSPREE_ENDPOINT=https://formspree.io/f/your-form-id
VITE_INSTAGRAM_URL=https://www.instagram.com/your-handle
VITE_FACEBOOK_URL=https://www.facebook.com/your-page
